* {
    margin: 0 auto;
    padding: 0 auto;
}

.container {
    max-width: 1000px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.boxMaker {
    border: solid black;
    max-width: 380px;
    flex-direction: column;
    gap: 0px;
    /* padding: 20 0px; */
}

header {
    background-color: black;
    color: white;
    padding: 20px 30px;
}

p {
    margin: 10px 0px 20px 0px;
}

article {
    margin: 0;
}
.user {
    margin: 10px 0px;
}

.btn {
    background-color: goldenrod;
    padding: 10px 20px;
    box-shadow: 5px 5px black;
}